<div class="well well-sm">
    <button class="btn btn-primary pull-right" ng-click="getDataBases()"><i class="fa fa-refresh"></i>Read Settings</button>
    <button class="btn btn-primary pull-right" ng-click="saveSettings()"><i class="fa fa-floppy-o"></i>Save Settings</button>
    <div class="clearfix"></div>
</div>
<div class="col-md-12 well">
    <span><b>PI Tags Subscribed to ({{srvPiConfig.subscribedAttributes.length || 0}})</b> : <span ng-repeat="att in srvPiConfig.subscribedAttributes" class="label-info">{{att.Name}}</span></span>
</div>
<div class="col-md-12 well">
    <div class="col-md-4 well-light">
            <span><b>PI Data Tree's Selected Node</b> : {{tree.currentNode.title}}</span>
            <div
                    data-angular-treeview="true"
                    data-tree-id="tree"
                    data-tree-model="srvPiConfig.pathTreeArray"
                    data-node-id="nodeId"
                    data-node-label="title"
                    data-node-children="nodes"
                    ng-click="getElement(tree.currentNode.Id)" >
            </div>
    </div>
    <div class="col-md-8 well-light">
        <!--<button ng-click="toggleAllElementSubscription()">Subscribe to All Attributes in Workspace</button>-->
        <span ng-if="tree.currentNode.Id"><b>Attributes of Element</b> : {{tree.currentNode.title}}</span>
        <button ng-if="tree.currentNode.Id" ng-click="toggleElementSubscription(tree.currentNode.Id)">Subscribe to All Attributes of this Element</button>
        <div ng-if="tree.currentNode.Id"><input type="number" placeholder="STA" ng-model="srvPiConfig.elements[tree.currentNode.Id].STA"><input type="number" placeholder="SID" ng-model="srvPiConfig.elements[tree.currentNode.Id].SID"></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>WebId</th>
                <th>Type</th>
                <th>Subscribe</th>
                <th>Last Value</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="attId in srvPiConfig.elements[tree.currentNode.Id].Attributes track by $index">
                <th>{{srvPiConfig.attributes[attId].Name}}</th>
                <th>{{srvPiConfig.attributes[attId].Id}}</th>
                <th><button class="btn" ngclipboard data-clipboard-text={{srvPiConfig.attributes[attId].WebId}}><i class="fa fa-copy"></i></button></th>
                <th>{{srvPiConfig.attributes[attId].DataReferencePlugIn}}</th>
                <th><input type="checkbox" ng-model="srvPiConfig.attributes[attId].Subscribed" ng-click="toggleAttSubscription(attId, tree.currentNode.Id)"></th>
                <th>{{srvPiConfig.attributes[attId].LastValue}}</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>