.panel-heading{
    position: relative;
}

.panel-heading{
    .btn-group {
        position: absolute;
        right: 10px;
        top: 4px;
    }

    h4{
        margin: 0;
    }
}

.well{
    position: relative;
}

.well-light{
    background: #fcfcfc;
}